doctype html
html
  head
    title Administrator
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui")
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
    link(rel="stylesheet", type="text/css", href="css/common.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js")
    script(src="js/vendor.js")
  body
    #app
      router-view

    script(src="js/index.js")
